@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Signika:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* FRONT PAGE CSS */
body {

    justify-content: center;
    box-sizing: border-box;
    background: #ffddd2;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    border: none;
}

/* logo css */
.logo {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.logo:hover {
    color: #006d77;
}

.description {
    font-size: 20px;
}


/* BUTTON CODE MAIN PAGE*/
.first {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 #ccc;
    border-radius: 10px;
    transition: box-shadow 300ms, color 300ms;
}

.first:hover {
    color: #e29578;
    box-shadow: 10px 10px 0 #e29578;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    vertical-align: center;
    flex-direction: column;
}

.title {
    text-align: center;
    vertical-align: middle;
}

/* overall page css */
.chat-box {
    width: 400px;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    position: sticky;
}

.chats {
    width: 100%;
    height: 85%;
    padding: 0 15px;
    color: #fff;
    font-size: 0.9em;
    overflow: scroll;
}

.bot-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #006d77;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.user-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #83c5be;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 0 114px;
}

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 15px;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.chat-input input {
    width: 60%;
    word-wrap: break-word;
    background-color: #aeaeae;
    padding: 7px 10px;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
}

.chat-input button {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 #ccc;
    border-radius: 8px;
    transition: box-shadow 300ms, color 300ms;
  }
  
  .chat-input button:hover {
    color: white;
    box-shadow: 10px 10px 0 #e29578;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dictionary-box {
    width: 400px;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    flex-direction: row;
    margin: 50px;
}

.dictionary-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 15px;
    overflow: scroll;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.dictionary-input input {
    width: 60%;
    word-wrap: break-word;
    background-color: #aeaeae;
    padding: 7px 10px;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
}

.dictionary-input button {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 #ccc;
  border-radius: 8px;
  transition: box-shadow 300ms, color 300ms;
}

.dictionary-input button:hover {
  color: white;
  box-shadow: 10px 10px 0 #e29578;
}

